<!DOCTYPE html>
<html>
  <head>
    <title>Blog </title>
  </head>
  <body>
    <h1>Blog Content: </h1>
    <ul>
    
      <li>
       <%= blog.content %></br>
      </li> 

      <li>
       <%= blog.time %></br>
      </li> 
      
    </ul>
    
  </body>
</html>
