<html>
<body>
 <center>
      <h1>用户注册</h1>
    <form action="http://localhost:3000/users/register" method="POST">
    YourName: <input type="username" name="username">  <br>
    PassWord: <input type="password" name="password">  <br>
    <input type="submit" value="注册">
    </form>
 </center>
</body>
</html>