<html>
<body>
 <center>
      <h1>updataBlog</h1>
    <form action="http://localhost:3000/users/updata?id=<%=id%>" method="POST">
    New: <input type="content" name="content" value=<%=content %>>  <br>
    <input type="submit" value="updata">
    </form>
 </center>
</body>
</html>